<div class="col-md-12">
Sort:
  <div class="btn-group">
      <button class="btn btn-default"> Name</button>
      <button class="btn btn-default"> Rating</button>
      <button class="btn btn-default"> Release Date</button>      
  </div>
</div>


<% @videos.each do |video| %>
	<div class="span4">
		<%= link_to video.name, video_path(video) %><br/>
		<%= image_tag(video.url_img, height: '271', width: '180', alt: '', class: "img-rounded") %><br/><br/>
	</div>
<% end %>