<div class="container" style="margin-left: 100px; color:#eeeeee">
  <div class="row">
    <div class=" col-lg-4 ">
      <%= render "form" %>
    </div> <!-- /col-lg-4 -->
  </div> <!-- /row -->
</div><!-- /container -->